@font-face {
    font-family: RockSalt-Regular;
    src: url(font/RockSalt-Regular.ttf);
    font-weight: bold;
}
.container{
    display:grid;
    width:100%;
    grid-template-columns: 70px repeat(7, 1fr);
    grid-template-rows: 100px 100% 1fr;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
}
.card{
    width: 18rem;
    height: 85%;
    font-family: verdana, sans-serif;
    border: 1px solid black;
    background-color: coral;
    margin: 20px auto;
}
.card-img-top{
    width: 100%;
    height: auto;
}
.card-body{
    margin: auto;
    margin-left: 3px;
}
.card-title{
    font-family: RockSalt-Regular;
}
.card-text{
    font-size: 12px;
}
.btn:link, .btn:visited  {
	background-color: #0c8eab;
	color: white;
    padding: 10px 20px;
    margin-left:10%;
    font-size: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: RockSalt-Regular;
}

.btn:hover, .btn:active {
	background-color: #0c41ab;
}
.box{
    border: 3px solid #850b75;
    background: #e4c4f1;
}

.header{
    grid-area:hd;
    font-family: RockSalt-Regular;
    padding-left: 5px;
}
.home-link{
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-right: 20px;
}
.footer{
    grid-area:ft;
    font-family: RockSalt-Regular;
    padding: 10px;
   
}
.top{
    padding-left: 20px;
}
.sidebar{
    grid-area:sd;
    font-family: RockSalt-Regular;
    padding-left: 5px;
}
.content{
    grid-area:main;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
