body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.intro {
	background-image: url("img/IMG-1417.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	width: 100%;
}
@font-face {
  font-family: RockSalt-Regular;
  src: url(font/RockSalt-Regular.ttf);
  font-weight: bold;
}
.name {
	font-family: RockSalt-Regular;
	font-size: 200%;
	padding-left: 10px;
}
.mynav {
  border: 5px solid black;
  margin-top: 500px;
  position: relative;
  background-color: #fbc616;
  width: 100%;
}
.navbar ul {
   display: flex;
   margin-left: 80px;
   list-style: none; 
   font-size: 150%;
   font-family: RockSalt-Regular;
}
.navbar li {
	flex: 1;
}

.about {
	background-color: #16fbef;
	width: 100%;
	height:600px;
	margin-bottom: 0px;
}
.left {
	float: left;
	width: 50%;
	text-align: center;
	font-family: RockSalt-Regular;
}
.right {
	float: right;
	width: 50%;
	text-align: center;
	padding-top:200px;
	font-family: verdana, sans-serif;
}
img {
	margin-top: 100px;
	border-radius: 50%;
}
.work {
	background-color: #45c0ba;
	width: 100%;
	height: 600px;
	margin-top: 0px;
}
.work__intro {
	font-family: RockSalt-Regular;
	padding-top: 50px;
	padding-left: 50px;
}
	
.strength__list {
	font-family: verdana, sans-serif;
}
.contact {
	background-color: #f8c3a0;
	width: 100%;
	height: 300px;
	padding-top: 50px;
	padding-left: 50px;
	font-family: verdana, sans-serif;
}
.contact__info{
	font-family: verdana, sans-serif;
}

.blog {
	margin: auto 50px;
}

.blog-link:link, .blog-link:visited  {
	background-color: #0c8eab;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: RockSalt-Regular;
}

.blog-link:hover, .blog-link:active {
	background-color: #0c41ab;
}
.top{
	float:left;
	margin-left:50px;
}

@media all and (max-width: 1100px) {
	.mynav li { flex-basis: 100%; } 
}
}